* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh; }

.top {
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50%; }

.left {
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-width: 450px;
  max-width: calc(100% - 200px);
  background: #FCF100; }

.left-resize {
  position: absolute;
  width: 6px;
  top: 0;
  bottom: 0;
  right: -3px;
  cursor: col-resize; }

.panel-management {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100%;
  background: #EFEFEF; }
  .panel-management ul {
    margin: 20px 10px 0;
    padding: 0;
    list-style: none; }
  .panel-management li {
    margin-bottom: 20px; }
  .panel-management a {
    font-size: 24px;
    color: #000;
    text-decoration: none; }

.container-management {
  width: calc(100% - 44px); }

.management-tab {
  display: none;
  height: 100%; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .flex-container > div {
    width: 50%;
    height: 100%; }
  .flex-container ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .flex-container li {
    padding: 10px 15px;
    border-bottom: 1px solid #000; }
  .flex-container .folders {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    min-width: 170px;
    border-right: 1px solid #000; }
    .flex-container .folders p {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
      padding: 10px 15px; }
    .flex-container .folders a {
      color: #000;
      text-decoration: none; }
  .flex-container .folder-content {
    width: calc(100% - 200px); }
  .flex-container .folder-tab {
    display: none;
    height: 100%; }
  .flex-container .folder-tab-container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: auto; }
  .flex-container figure {
    margin: 10px;
    text-align: center; }
  .flex-container img {
    width: 240px;
    height: 150px; }

.gu-mirror {
  text-align: center; }
  .gu-mirror img {
    width: 240px;
    height: 150px; }

.right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 50%;
  background: #C0C0C0; }
  .right .video-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .right .video-nav li {
      margin: 0 10px; }
    .right .video-nav a {
      font-size: 24px;
      color: #FFF;
      text-decoration: none; }
  .right video {
    margin: auto auto 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.bottom {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 50%;
  background: #B2E31C;
  overflow: auto; }
  .bottom figure {
    margin: 10px;
    text-align: center; }
  .bottom img {
    width: 240px;
    height: 150px; }

.top-resize {
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 6px;
  cursor: row-resize; }
